html, body {
  height: 100vh;
}

body {
  margin: 0;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.stream video,
.stream video-js {
  height: 100%;
  width: 100%;
}
